@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", sans-serif;
}

button, 
a, 
input, 
li,
div,
textarea,
button:focus,
a:focus,
input:focus,
div:focus,
textarea:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-bar {
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  width: 0;
}
